<div ng-controller="UserController" class="panel panel-default">
    <div class="panel-heading panel-color">
        <div class="page-title">
            <h3 class="panel-title">Edit Review : {{review.id}}</h3>
        </div>
    </div>
    <div class="panel-body panel-default">
        Put stuff in here.
    </div>
</div>