<div ng-controller="ReviewDetailCtrl" class="panel panel-default" >
    <div class="panel-heading panel-color">      
        <div class="super-large text-secondary" xe-counter data-count="this" data-from="0" data-to="{{review.id}}" data-duration="1.5">{{review.id}}</div>
    </div>
    <div class="panel-body panel-default">
        <div class="row">
            <div class="col-sm-8">
                <form novalidate="novalidate" class="form-horizontal" role="form">                   
                    <div class="form-group">
                        <label class="control-label" for="Itemid">Item ID:</label>
                        <div class="controls">
                            <input type="text" class="form-control" placeholder="Products Unique Identifier" ng-model="review.ItemID" />
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <label class="control-label" for="ReviewTitle">Review Title:</label>
                        <div class="controls">
                            <input type="text" class="form-control" placeholder="A Fabulous Title" ng-model="review.ReviewTitle" />
                        </div>

                        <label class="control-label" for="ReviewBy">Review By:</label>+
                        <div class="controls">
                            <input type="text" class="form-control" placeholder="John Smith" ng-model="review.ReviewBy" />
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="control-label" for="Rating">Rating (from 0 - 5):</label>
                        <div class="controls">
                            <input type="text" class="form-control" placeholder="0" ng-model="review.ReviewRating" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Comments">Comments:</label>
                        <div class="controls">
                            <textarea class="form-control" ng-model="review.ReviewComments" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="Display">Display (0 = No/ 1 = Yes):</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="review.Display" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <a ng-click="cancel()" class="btn btn-small">cancel</a>
                            <a ng-show="layoutOptions.isCreate == false" ng-click="updateReview()" class="btn btn-small btn-purple">Update Review</a>
                            <a ng-show="layoutOptions.isCreate == true" ng-click="createNewReview()" class="btn btn-small btn-purple">Create New Review</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
